@import './accessories.scss';

html {
    background: $background-color;
}
.logo-container {
    display: flex;
    justify-content: center;
}

.landing-page {
    display: flex;
    gap: 30px;
    position:relative;
    margin-top: 25%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .landing-summary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 320px;
        text-align: center;
        font-family: $paragraph-font;
        .landing-summary-text {
            margin-top: 10px;
        }
    }
    .landing-location-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .get-started {
            font-weight: bold;
            margin-bottom: 5px;
        }
        .landing-form-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            input {
                background-color: $input-color;
                border-width: 0 0 2px;
                border-color: white;
                border-radius: 10px;
                padding: 10px;
                color: white;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: rgb(220, 220, 220);
                }
            }
            button {
                margin-top: 10px;
                font-family: $heading-font;
                width: 50px;
                background-color: rgba(0,0,0,0);
                border-radius: 10px;
                border: 0px solid #9cadd0;
                padding: 5px;
                color: black;
                top:0;
                cursor: pointer;
                position: relative;
                transition: top ease 0.3s;
                &:hover {
                    top: -3px;
                    opacity: 70%;
                }
            }
        }
    }
}

.error-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    text-align: center;
    font-family: $paragraph-font;
    margin: 5px 0 10px 0;
    .error-item {
        color: #D61A3C;
    }
}

@media only screen and (min-width: 500px){
    .error-box {
        width: 450px;
    }

    .landing-page {
        .landing-summary-container {
            width: 450px;
        }
    }
}