@import './accessories.scss';

html {
    background: $background-color;
}
.logo-container {
    display: flex;
    justify-content: center;
}

.landing-page {

    display: flex;
    gap: 30px;
    position:relative;
    margin-top: 25%;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    .landing-summary-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px;
        text-align: center;
        font-family: $paragraph-font;

    }
    .landing-location-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .landing-form-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
            align-items: center;
            input {
                background-color: $input-color;
                border-width: 0 0 2px;
                border-color: white;
                border-radius: 10px;
                padding: 5px;
                color: white;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: rgb(179, 179, 179);
                }
            }
            button {
                margin-top: 10px;
                font-family: $heading-font;
                width: 50px;
                background-color: rgba(0,0,0,0);
                border-radius: 10px;
                border: 0px solid #9cadd0;
                padding: 2px;
                color: black;
                top:0;
                position: relative;
                transition: top ease 0.3s;
                &:hover {
                    top: -8px;
                }
            }
        }
    }
}