@import './accessories.scss';

body {
    background-color: $background-color;
}

p {
    font-family: $paragraph-font;
}

.results-page {
    display: flex;
    align-items: center;
    justify-content: center;
    .results-location-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .results-score-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// === RECS COMPONENT STYLING ===
.RecsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .blurb-container {
        background-color: $item-color;
        border: 1px solid $background-color;
        border-radius: 1.5vh;
        padding: 2vh;
    }
    .RecomsContainer {
        background-color: $recoms-color;
        border: 1px solid $background-color;
        border-radius: 1.5vh;
        margin: 2vh;
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            align-self: center;
        }
        .RecTitle {
            margin-top: 3vh;
            margin-bottom: 1vh;
            font-family: $heading-font;
            font-weight: $heading-font-weight;
        }
        .recoms {
            padding: 1.5vh;
            display: flex;
            width: 310px;
            flex-direction: column;
            justify-self: left;
            align-items: left;
            .list > li {
                list-style: circle;
                margin-left: 20px;
            }
            #list-special > li {
                list-style: none;
                margin-left: 0;
            }
        }
    }
}

#city-state {
    margin-top: 20px;
    font-family: $heading-font;
    font-weight: $heading-font-weight;
}


@media only screen and (min-width: 400px){
    .RecsContainer {
        .RecomsContainer {
            width: 380px;
            .recoms {
                width: 350px;
            }
        }
    }
}

@media only screen and (min-width: 500px){
    .RecsContainer {
        .RecomsContainer {
            width: 480px;
            .recoms {
                width: 450px;
            }
        }
    }
}

@media only screen and (min-width: 700px){
    .RecsContainer {
        .RecomsContainer {
            width: 600px;
            .recoms {
                width: 580px;
            }
        }
    }
}
